body {
    background-color: #C2C1C1;
    font-style:italic;
}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }